* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: none;

	@media screen and (max-width: 480px) {
		cursor: pointer;
	}
}

@font-face {
	font-family: 'ganon';
	src: url(../fonts/ReturnofGanon.ttf);
}

@font-face {
	font-family: 'Triforce';
	src: url(../fonts/Triforce.ttf);
}
