.wrapper {
	width: 100%;
	height: 100%;
	overflow-y: visible;
	overflow-x: hidden;
	position: absolute;

	.background {
		position: absolute;
	    width: 100%;
	    top: -10px;
	    left: 0%;
	    transform-origin: center;
	    transform: rotate(180deg);

	    img {
	    	width: 100%;
	    }
	}

	.dark-clouds {
		position: absolute;
		width: 110%;
		top: -100px;
		left: -50px;
		z-index: 1;

		img {
			width: 100%;
		}
	}

	.white-clouds {
		position: absolute;
		width: 110%;
		top: -20px;
		left: -50px;
		z-index: 1;

		img {
			width: 100%;
			position: relative;
			top: -100px;
		}
	}

	.banner {
		position: absolute;
	    top: 5%;
	    left: 10%;
	    z-index: 5;
	    width: 80%;

	    img {
	    	width: 100%;
	    }
	}

	.tingle {
	    position: absolute;
	    top: -134%;
	    left: 32%;
	    z-index: 0;
	    width: 10%;

	    img {
	    	width: 100%;
	    }
	}

	.triforce {
		position: absolute;
		top: 60%;
		left: 50%;
		width: 15%;
		transform: translate(-50%, -50%);

		img {
			width: 100%;
		}
	}

	.sun {
		position: absolute;
		width: 13%;
		top: 35%;
		left: 25%;

		img {
			width: 100%;
		}
	}

	.moon {
		position: absolute;
		width: 13%;
		top: 85%;
		left: 55%;

		img {
			width: 100%;
		}
	}

	.star-1 {
		position: absolute;
		width: 0.5%;
		top: 30%;
		left: 52%;

		img {
			width: 100%;
		}
	}

	.star-2 {
		position: absolute;
		width: 0.5%;
		top: 37%;
		left: 25%;

		img {
			width: 100%;
		}
	}

	.star-3 {
		position: absolute;
		width: 0.5%;
		top: 87%;
		left: 22%;

		img {
			width: 100%;
		}
	}	

	.star-4 {
		position: absolute;
		width: 0.5%;
		top: 70%;
		left: 30%;

		img {
			width: 100%;
		}
	}

	.star-5 {
		position: absolute;
		width: 0.5%;
		top: 84%;
		left: 48%;

		img {
			width: 100%;
		}
	}

	.star-6 {
		position: absolute;
		width: 0.5%;
		top: 91%;
		left: 70%;

		img {
			width: 100%;
		}
	}

	.star-7 {
		position: absolute;
		width: 0.5%;
		top: 39%;
		left: 74%;

		img {
			width: 100%;
		}
	}

	.ocarina {
		position: absolute;
		width: 10%;
		top: 55%;
		left: 62%;
		z-index: 4;

		img {
			width: 100%;
		}
	}

	.cloud-small {
		position: absolute;
		top: 106%;
	    left: 31%;
	    width: 10%;

		img {
			width: 100%;
		}
	}

	.cloud-med {
		position: absolute;
		top: 112%;
	    left: 55%;
	    width: 18%;

		img {
			width: 100%;
		}
	}

	.cloud-large {
		position: absolute;
		top: 120%;
    	left: 29%;
    	width: 35%;

		img {
			width: 100%;
		}
	}

	.tingle-text {
		font-family: 'ganon';
		font-size: 1em;
		color: white;
		margin: 0;
		padding: 10px;
	}

	.tingle-text-box {
		position: absolute;
	    top: 88%;
	    left: 110%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
		width: 200px;
		height: 100px;
		background-color: black;
		opacity: 0.7;
		border-radius: 20px;
		box-shadow: 0px 0px 5px black;
	}

}






























