.wrapper {

	.tingle {
	    position: absolute;
	    top: -500%;
	    left: 24%;
	    z-index: 4;
	    width: 10%;

	    @media screen and (max-width: 480px) {
    	    position: absolute;
		    top: -52%;
		    left: 2%;
		    z-index: 4;
		    width: 27%;
	    }

	    img {
	    	width: 100%;
	    }

		.intro-box {
			position: absolute;
		    top: 88%;
		    left: 110%;
		    opacity: 0;
		    width: 200%;

		    img {
		    	width: 100%;
		    }
		}

		.death-mountain-box {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 88%;
			left: -195%;
			width: 200%;

			img {
				width: 100%;
			}
		}

		.castle-box {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 88%;
			left: -195%;
			width: 200%;

			img {
				width: 100%;
			}
		}

		.ranch-box {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 88%;
			left: -195%;
			width: 200%;

			img {
				width: 100%;
			}
		}

		.forest-box {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 88%;
			left: -195%;
			width: 200%;

			img {
				width: 100%;
			}
		}

		.lake-box {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 88%;
			width: 200%;
			left: -195%;

			img {
				width: 100%;
			}
		}
	}
}





















